/* Generales */
:root {
    --white: #ffffff;
    --black: #000000;
    --Red: #7b0000;
    --Red-dark: #600000;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
}
.inactive {
    display:none;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #7b0000;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: end;
    height: 60px;
    background-color: var(--white);
}

/* Navbar */
nav {
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
}
.menu-mobile-icon {
    display: none;
    width: 60px;
    cursor: pointer;
}
.menu-redes-icon {
    display: none;
    width: 50px;
    padding-right: 10px;
    cursor: pointer;
}
    /* Navbar-left */
    /* Logo en barra de navegación */
        .navbar-left {
            display: flex;
            justify-content: space-evenly;
        }
        .logo-keryum {
            margin-left: 16px;
            width: 50px;
            justify-self: center;
        }

    /* Navbar-middle */
    .navbar-middle {
        display: flex;
    }
    .navbar-middle ul {
        display: flex;
    }
    .navbar-middle ul li {
        display: inline-flex;
        list-style: none;
        padding: 0 15px;
        height: 60px;
        align-items: center;
        color: #000000;
        background-color: transparent;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s ease;
    }
    .navbar-middle ul li:hover {
        background-color: #600000;
        color: var(--white);
    }

    /* Nabar right */
    .navbar-right {
        display: flex;
    }
    .navbar-right ul li{
        display: inline-flex;
        height: 60px;
        align-items: center;
        background-color: transparent;
        text-transform: uppercase;
        transition: .5s ease;
    }
    .redes-sociales {
        display: flex;
        align-items: center;
    }
    .redes-sociales li img {
        width: 32px;
        padding: 10px;
    }

    /* Navbar-mobile */
    .menu-mobile {
        position: fixed;
        font-size: xx-large;
        font-weight: bold;
        background: var(--black);
        padding: 0 !important;
        color: var(--white);
        width: 100vw;
        height: 100vh;
        padding: 15px;
        top: 60px;
        justify-content: center;
    }
    .mobile-menu-sections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: space-around;
        height: calc(100vh - 60px);
    }
    .menu-mobile ul li{
        display: inline-flex;
        height: 50px;
        width: 100%;
        flex-direction: column;
        list-style: none;
        text-align: center;
    }

/* menu redes sociales */
.menu-redes {
    position: fixed;
    font-size: xx-large;
    font-weight: bold;
    background: var(--Red-dark);
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    top: 60px;
    justify-content: center;
}
.menu-redes-elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    height: calc(100vh - 60px);
}
.menu-redes ul li{
    display: inline-flex;
    height: 100px;
    width: 100%;
    flex-direction: column;
    list-style: none;
    text-align: center;
}
.menu-redes ul li a {
    display: inline-flex;
    justify-content: center;
    height: auto;
}
.menu-redes-elementos img {
    width: 100px;
}


/* Main content */
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #7b0000;
}
/* .ilustraciones {
    display: flex;
    width: 70vw;
    height: 49.7vw;
    z-index: 90;
}
.ilustraciones img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.ilustraciones img:hover {
    cursor: crosshair;
    width: 35vw;
    opacity: 1;
    filter: contrast(120%);
} */
@media (min-width: 850px) {
    .menu-mobile {
        display: none;
    }
    .menu-redes {
        display: none;
    }
}
@media(max-width: 1350px) and (min-width: 850px) {
    nav {
        justify-content: end;
    }
    .navbar-left {
        justify-self: flex-start;
        flex-grow: 2;
        margin: 0;
    }
    .navbar-right {
        display: flex;
        position: fixed;
        margin-right: 0 !important;
        top: 60px;
        background-color: transparent;
        margin-right: 16px;
    }
}
@media(max-width: 849px) {
    .logo-keryum {
        margin: 0;
    }
    .menu-mobile-icon {
        display: block;
    }
    .menu-redes-icon {
        display: block;
    }
    .navbar-right {
        display: none;
    }
    .navbar-middle {
        display: none;
    }
}