:root {
    --white: #ffffff;
    --black: #000000;
    --Red: #7b0000;
    --Red-dark: #600000;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: end;
    height: 60px;
    background-color: var(--white);
}
nav {
    width: 100vw;
    position: fixed;
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
.title-container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--white);
    justify-content: start;
}
.logo-navbar {
    display: grid;
    width: 50px;
    height: 90%;
    text-decoration: none;
    justify-content: center;
}
.logo-keryum {
    width: 50px;
    justify-self: center;
}
nav ul {
    position: sticky;
    display: flex;
    list-style: none;
    height: 60px;
    font-weight: 700;
    padding-right: 15px;
    align-items: center;
    background-color: var(--white);
}
.secciones-navbar {
    padding: 0;
}
nav .secciones-navbar li {
    position: sticky;
    display: inline-flex;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    color: #000000;
    background-color: transparent;
    text-transform: uppercase;
    text-transform: uppercase;
    transition: .5s ease;
}
nav .secciones-navbar li:hover {
    background-color: #600000;
    color: var(--white);
}
nav .redes-sociales li img {
    width: 32px;
    padding: 10px;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    background-color: #7b0000;
}
.ilustraciones {
    display: flex;
    width: 70vw;
    height: 49.7vw;
    z-index: 90;
}
.ilustraciones img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.ilustraciones img:hover {
    cursor: crosshair;
    width: 35vw;
    opacity: 1;
    filter: contrast(120%);
}
@media(max-width: 1350px) {
    nav {
        justify-content: space-between;
        margin-right: 16px;
    }
    nav .redes-sociales {
        display: flex;
        position: fixed;
        right: -10px;
        top: 60px;
        background-color: transparent;
    }
    .redes-sociales li {
        margin-right: 16px;
    }
}